@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

.home-title {
  color: #B072FF;
}

.app-main-header {
  width: 100%;
  height:50px;
  background: #F5F5F5;
  border: 1px solid #DFDFE0;
  box-sizing: border-box;
  padding: 10px;
}

.form-status-indicators-active {
position: static;
padding: 5px;
background: #FCFCFC;
border: 1px solid #BEBEC2;
border-radius: 10px;
flex: none;

}
.form-status-indicators-container {
  margin-top: 50px;
  flex-direction: row;
  flex: content;
   justify-content: space-between;
}
.form-status-indicators {
position: static;
font-family: Manrope;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 18px;
letter-spacing: -0.154px;
color: #6F6E73;
margin-left: 7px;
margin-right: 7px;

}

